<div class="tlk-container anyone-tlk-container-2">
  <%= link_to "Start your own Taaalk", new_tlk_path, class: "link-txt" %> or
  <%= link_to "leave your details", new_tlk_path, class: "link-txt" %> to meet someone to Taaalk with.
</div>
