<div class="tlk-container">
  <div class="big-white-split"></div>
  <div class="spkr-user-edit-form">
    <p><strong>Delete this Taaalk:</strong></p>
    <p class="mb-0">Enter your password:</p>
    <%= form_for @tlk, method: :delete do |fo| %>
      <%= fo.password_field :password, class: "fw-text-input" %>
      <div>
        <%= fo.submit "Delete Taaalk", class: "mb-0 danger-link" %>
      </div>
    <% end %>
  </div>
  <div class="big-white-split"></div>
</div>
