<p><strong>Your details...</strong></p>
<% @tlk.spkrs.each do |spkr| %>
  <% if spkr.user == current_user %>
    <%= form_with model: spkr do |f| %>
      <%= f.text_field :name, id: "spkr-name-#{spkr.id}-edit", class: 'spkr-edit' %>
      <%= f.text_field :bio, id: "spkr-bio-#{spkr.id}-edit", class: 'spkr-edit' %>
      <%= f.submit "Update Your Details", class: 'btn btn-secondary' %>
    <% end %>
    <p id="unsaved-note-self-spkr">Changes not saved. Press 'Update Your Details' to save.</p>
  <% end %>
<% end %>
<p class="p-lesson">You can customise your details for each Taaalk to make them relevant to the subject. This will just update your bio for this Taaalk, not the one on your [link]profile[/link].</p>
