
<div class="tlk-container">
  <div class="tlk-note">
    <%= link_to "Follow this Taaalk", tlk_follow_path(@tlk.id, spkrs_follow: "true"), method: :post, remote: true, class: "tlk-follow tlk-note-btn" %>
    <p>Receive an email when a new message is added to this Taaalk.</p>
  </div>
</div>
