<div class="tlk-container">
    <%#= link_to tlk_follow_path(@tlk.id, spkrs_follow: "true"), method: :post, remote: true do %>
    <!-- <div class="tlk-note-btn tlk-follow"><i class="fas fa-sticky-note"></i> Follow this Taaalk (<%= @tlk.tlk_follows.count + @tlk.spkrs.count %>)</div> -->
    <%# end %>
    <%= link_to tlk_follow_path(@tlk.id, spkrs_follow: "true"), method: :post, remote: true, class: "tlk-follow-link" do %>
    Follow this Taaalk
    <% end %>
    <div class="tlk-note tlk-follow-note">
      <p><%= @tlk.tlk_follows.count + @tlk.spkrs.count %> follower<%= @tlk.tlk_follows.count + @tlk.spkrs.count > 1 ? "s" : "" %></p>
    </div>
</div>
