<div class="tlk-note">
  <p>A Taaalk is a conversation between two or more people that anyone can read.
  If it's not clear, please edit your bio for readers to know who you are and where your thoughts are coming from in relation to this subject.</p>
</div>

