<% if @tlk.msgs.empty? %>
  <div>
    <div class="tlk-note">
      <p>Write your Taaalk by typing in the box below below. Leave a question for the person/people you will invite.</p>
      <p>(You do not need to be in 'Edit Mode' to write.)</p>
    </div>
  </div>
<% end %>
