<div class="tlk-links">
  <p><strong>Key links:</strong></p>
  <div class="tlk-note">
    <p>To invite people to this Taaalk:</p>
    <p><span id="invite-link"><%= link_to tlk_invite_url(@tlk), tlk_invite_url(@tlk) %>, invite code: <%= @tlk.invite_code %></span> <span target="invite-link" class="copy-with-click">copy</span></p>
    <p>Inviting people is optional. Your Taaalk can be a monologue 🎤.</p>
  </div>
  <div class="tlk-note">
    <p>To share your Taaalk with readers:</p>
    <p><span id="share-link"><%= link_to show_tlk_url(@tlk), show_tlk_url(@tlk) %></span> <span target="share-link" class="copy-with-click">copy</span></p>
  </div>
</div>
