<div class="index-tlking-container">
  <%= render 'intro_tlks/bert_ernie' %>
</div>

<%#= link_to raw('<i class="fas fa-check"></i> Got It'), index_got_it_cookie_path, remote: true, id: "index-got-it-btn", class: "index-got-it btn btn-dark edit-mode-on" %>
