<div>
  <div class="tlk-note">
    <p><strong>Key links:</strong></p>
    <p>To invite people to speak in this Taaalk:</p>
    <p>
      <div class="to-copy-section">
        <span id="invite-link"><%= link_to tlk_invite_url(@tlk), tlk_invite_url(@tlk) %>, invite code: <%= @tlk.invite_code %></span> <span target="invite-link" class="copy-with-click"><i class="fas fa-copy"></i></span>
      </div>
    </p>
    <p>Inviting people is optional. Your Taaalk can be a monologue.</p>
    <div class="mb-2 mt-2 splitter"></div>
    <p>To share your Taaalk with readers:</p>
    <p>
      <div class="to-copy-section">
        <span id="share-link"><%= link_to show_tlk_url(@tlk), show_tlk_url(@tlk) %></span> <span target="share-link" class="copy-with-click"><i class="fas fa-copy"></i></span>
      </div>
    </p>
  </div>
</div>
