<div class="tlk-links">
  <p>Some important links:</p>
  <p><strong>Invite</strong> people to Taaalk with you:</p>
  <p><%= link_to tlk_invite_url(@tlk), tlk_invite_url(@tlk) %>, invite code: <%= @tlk.invite_code %></p>
  <p>For people to <strong>read your Taaalk</strong> and where you will <strong>write</strong>:</p>
  <p><%= link_to show_tlk_url(@tlk), show_tlk_url(@tlk) %></p>
</div>
