<div>
  <div class="tlk-note">
    <p><strong>To invite people to speak with you in this Taaalk:</strong></p>
    <p>
      <div class="to-copy-section">
        <span id="invite-link"><%= link_to tlk_invite_url(@tlk), tlk_invite_url(@tlk) %>, invite code: <%= @tlk.invite_code %></span> <span target="invite-link" class="copy-with-click"><i class="fas fa-copy"></i></span>
      </div>
    </p>
    <p>Inviting people is optional (monologues are ok).</p>
    <p>You can also invite yourself and make fictional chat partner.</p>
    <div class="mb-2 mt-2 splitter"></div>
    <p><strong>To share your Taaalk with readers:</strong></p>
    <p>
      <div class="to-copy-section">
        <span id="share-link"><%= link_to show_tlk_url(@tlk), show_tlk_url(@tlk) %></span> <span target="share-link" class="copy-with-click"><i class="fas fa-copy"></i></span>
      </div>
    </p>
  </div>
</div>
