<div class="tlk-container">
<div class="tlk-note tlk-follow-note">
  <p>Following this Taaalk</p>
</div>
<%= link_to "Unfollow", tlk_destroy_follow_path(@tlk.id), method: :delete, remote: true, class: "tlk-unfollow" %>
</div>
