 <div class="tlk-blob tlk-blob-left" >
    <div class="tlk-blob-spkr" id="index-top-blob-spkr">
      <div class="tlk-tlking-image spkr-image" style="background-image: url(<%= asset_path 'intro_images/e5.jpg' %>)" ></div>
      <div class="tlk-blob-name" style="color: white;"><!-- Ernie --></div>
    </div>
    <div class="msg-white">
      <div class="tlk-blob-msg">
        <div class="tlk-bubble">
          Hey Bert
        </div>
      </div>
      <div class="tlk-blob-msg">
        <div class="tlk-bubble">
          What's this Taaalk website about?
        </div>
      </div>
    </div>
  </div>


  <div class="tlk-blob tlk-blob-right" >
    <div class="tlk-blob-spkr">
      <div class="tlk-tlking-image spkr-image" style="background-image: url(<%= asset_path 'intro_images/b5.jpg' %>)" ></div>
      <div class="tlk-blob-name"><!-- Bert --></div>
    </div>
    <div class="msg-blue">
      <div class="tlk-blob-msg">
        <div class="tlk-bubble" id="bubble-390">
          It's a place where people have conversations
        </div>
      </div>
      <div class="tlk-blob-msg">
        <div class="tlk-bubble">
          And other people get to read them
        </div>
      </div>
    </div>
  </div>

  <div class="tlk-blob tlk-blob-left" >
    <div class="tlk-blob-spkr">
      <div class="tlk-tlking-image spkr-image" style="background-image: url(<%= asset_path 'intro_images/e5.jpg' %>)" ></div>
      <div class="tlk-blob-name" style="color: white;"><!-- Ernie --></div>
    </div>
    <div class="msg-white">
      <div class="tlk-blob-msg">
        <div class="tlk-bubble">
          Like this Bert?
        </div>
      </div>
    </div>
  </div>

  <div class="tlk-blob tlk-blob-right" >
    <div class="tlk-blob-spkr">
      <div class="tlk-tlking-image spkr-image" style="background-image: url(<%= asset_path 'intro_images/b5.jpg' %>)" ></div>
      <div class="tlk-blob-name"><!-- Bert --></div>
    </div>
    <div class="msg-blue">
      <div class="tlk-blob-msg">
        <div id="last-index-tlk-bubble" class="tlk-bubble">
          Yes, like this Ernie
        </div>
      </div>
    </div>
  </div>
