<nav class="navbar navbar-light bg-light">
  <%= link_to "Taaalk", root_path, class: "navbar-brand tlk-brand" %>

  <div class="navbar-non-logo">
    <%= link_to "Start a Conversation", new_tlk_path %>

    <% if user_signed_in? %>
      <div>
        <%= link_to current_user.username, show_user_path(current_user) %>
      </div>
    <% else %>
      <div>
        <%= link_to "Log In", new_user_session_path %>
      </div>
    <% end %>
  </div>
</nav>
