// Place all the styles related to the msgs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.spkr-color-edit {
  margin-top: 4px;
  .spkr-color-example {
    display: inline-block !important;
  }
  .spkr-color-option {
    display: inline-block !important;
    margin: 0 8px 0 0;
  }
  .tlk-bubble {
    padding: 8px 10px 8px 10px;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    &:hover{
      text-decoration-style: none;
    }
  }
  input[type="radio"]:checked+label {
    .tlk-bubble {
      outline: -webkit-focus-ring-color auto 5px;
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
      outline-width: 5px;
    }
  }
}

.spkr-color-scroll-short {
  max-height: 74px !important;
  overflow: hidden !important;
  margin-bottom: 16px;
}

.spkr-color-show-more {
  display: inline-block;
  margin: 0 0 16px 0;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .spkr-color-scroll {
    height: auto;
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    white-space:nowrap;
    padding-top: 14px;
    border-right: 8px solid #2c2c57;
  }
  .spkr-color-show-more {
    display: none;
  }
  .spkr-color-scroll-short {
    max-height: auto !important;
    overflow: auto !important;
    margin-bottom: auto;
  }
}

.msg-p-red {
  .tlk-bubble {
    color: white;
    background-color: #d63447;
  }
  .spkr-info, .spkr-details-container-index {
    border-color: #d63447;
  }
}

.msg-p-blue {
  .tlk-bubble {
    background-color: #097ffd;
    color: white;
  }
  .spkr-info, .spkr-details-container-index {
    border-color: #097ffd;
  }
}


.msg-p-orange {
  .tlk-bubble {
    color: white;
    background-color: #f8615a;
  }
  .spkr-info, .spkr-details-container-index {
    border-color: #f8615a;
  }
}

.msg-p-green {
  .tlk-bubble {
    background-color: #CFEBB9;
  }
  .spkr-info, .spkr-details-container-index {
    border-color: #CFEBB9;
  }
}


.msg-green {
  .tlk-bubble {
    color: white;
    background-color: #00CD4B;
  }
  .spkr-info, .spkr-details-container-index {
    border-color: #00CD4B;
  }
}
.msg-purple {
  .tlk-bubble {
    color: white;
    background-color: #6E3BDE;
  }
  .spkr-info, .spkr-details-container-index {
    border-color: #6E3BDE;
  }
}
.msg-blue {
  .tlk-bubble {
    color: white;
    background-color: #2c2c57;
  }
  .spkr-info, .spkr-details-container-index {
    border-color: #2c2c57;
  }
}
.msg-red {
  .tlk-bubble {
    color: white;
    background-color: #EB0309;
  }
  .spkr-info, .spkr-details-container-index {
    border-color: #EB0309;
  }
}
.msg-orange {
  .tlk-bubble {
    color: white;
    background-color: #E75519;
  }
  .spkr-info, .spkr-details-container-index {
    border-color: #E75519;
  }
}
.msg-black {
  .tlk-bubble {
    color: white;
    background-color: #23272b;
  }
  .spkr-info, .spkr-details-container-index {
    border-color: #23272b;
  }
}
.msg-pink {
  .tlk-bubble {
    background-color: pink;
  }
  .spkr-info, .spkr-details-container-index {
    border-color: pink;
  }
}
.msg-yellow {
  .tlk-bubble {
    background-color: #f9ca24;
  }
  .spkr-info, .spkr-details-container-index {
    border-color: #f9ca24;
  }
}
.msg-white {
  .tlk-bubble {
    background-color: white;
  }
  .spkr-info {
    border-color: white;
  }
  .spkr-details-container-index {
      border-color: #EBECED;
    }
}



.tlk-bubble {
  a {
    color: inherit !important;
    text-decoration: underline;
    opacity: 0.9;
    &:hover {
      color: inherit;
      opacity: 1;
    }
  }
}

.msg-1 {
    .tlk-bubble {
        color: white;
        background-color: #C62828;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #C62828;
    }
}

.msg-2 {
    .tlk-bubble {
        color: white;
        background-color: #F44336;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #F44336;
    }
}

.msg-3 {
    .tlk-bubble {
        color: white;
        background-color: #EF9A9A;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #EF9A9A;
    }
}

.msg-4 {
    .tlk-bubble {
        background-color: #FFCDD2;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #FFCDD2;
    }
}

.msg-5 {
    .tlk-bubble {
        color: white;
        background-color: #AD1457;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #AD1457;
    }
}

.msg-6 {
    .tlk-bubble {
        color: white;
        background-color: #E91E63;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #E91E63;
    }
}

.msg-7 {
    .tlk-bubble {
        color: white;
        background-color: #F48FB1;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #F48FB1;
    }
}

.msg-8 {
    .tlk-bubble {
        background-color: #F8BBD0;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #F8BBD0;
    }
}

.msg-9 {
    .tlk-bubble {
        color: white;
        background-color: #6A1B9A;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #6A1B9A;
    }
}

.msg-10 {
    .tlk-bubble {
        color: white;
        background-color: #9C27B0;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #9C27B0;
    }
}

.msg-11 {
    .tlk-bubble {
        color: white;
        background-color: #CE93D8;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #CE93D8;
    }
}

.msg-12 {
    .tlk-bubble {
        background-color: #E1BEE7;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #E1BEE7;
    }
}

.msg-13 {
    .tlk-bubble {
        color: white;
        background-color: #4527A0;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #4527A0;
    }
}

.msg-14 {
    .tlk-bubble {
        color: white;
        background-color: #673AB7;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #673AB7;
    }
}

.msg-15 {
    .tlk-bubble {
        color: white;
        background-color: #B39DDB;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #B39DDB;
    }
}

.msg-16 {
    .tlk-bubble {
        background-color: #D1C4E9;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #D1C4E9;
    }
}

.msg-17 {
    .tlk-bubble {
        color: white;
        background-color: blue;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: blue;
    }
}

.msg-18 {
    .tlk-bubble {
        color: white;
        background-color: #283593;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #283593;
    }
}

.msg-19 {
    .tlk-bubble {
        color: white;
        background-color: #3F51B5;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #3F51B5;
    }
}

.msg-20 {
    .tlk-bubble {
        color: white;
        background-color: #9FA8DA;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #9FA8DA;
    }
}

.msg-21 {
    .tlk-bubble {
        background-color: #C5CAE9;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #C5CAE9;
    }
}

.msg-22 {
    .tlk-bubble {
        color: white;
        background-color: #1565C0;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #1565C0;
    }
}

.msg-23 {
    .tlk-bubble {
        color: white;
        background-color: #2196F3;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #2196F3;
    }
}

.msg-24 {
    .tlk-bubble {
        color: white;
        background-color: #81D4FA;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #81D4FA;
    }
}

.msg-25 {
    .tlk-bubble {
        background-color: #BBDEFB;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #BBDEFB;
    }
}

.msg-26 {
    .tlk-bubble {
        color: white;
        background-color: #00838F;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #00838F;
    }
}

.msg-27 {
    .tlk-bubble {
        color: white;
        background-color: #00BCD4;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #00BCD4;
    }
}

.msg-28 {
    .tlk-bubble {
        color: white;
        background-color: #80DEEA;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #80DEEA;
    }
}

.msg-29 {
    .tlk-bubble {
        background-color: #B3E5FC;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #B3E5FC;
    }
}

.msg-30 {
    .tlk-bubble {
        color: white;
        background-color: #00695C;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #00695C;
    }
}

.msg-31 {
    .tlk-bubble {
        color: white;
        background-color: #009688;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #009688;
    }
}

.msg-32 {
    .tlk-bubble {
        color: white;
        background-color: #80CBC4;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #80CBC4;
    }
}

.msg-33 {
    .tlk-bubble {
        background-color: #B2EBF2;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #B2EBF2;
    }
}

.msg-34 {
    .tlk-bubble {
        color: white;
        background-color: #00eb17;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #00eb17;
    }
}

.msg-35 {
    .tlk-bubble {
        color: white;
        background-color: #388E3C;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #388E3C;
    }
}

.msg-36 {
    .tlk-bubble {
        color: white;
        background-color: #4CAF50;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #4CAF50;
    }
}

.msg-37 {
    .tlk-bubble {
        background-color: #A5D6A7;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #A5D6A7;
    }
}

.msg-38 {
    .tlk-bubble {
        color: white;
        background-color: #689F38;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #689F38;
    }
}

.msg-39 {
    .tlk-bubble {
        color: white;
        background-color: #8BC34A;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #8BC34A;
    }
}

.msg-40 {
    .tlk-bubble {
        background-color: #C5E1A5;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #C5E1A5;
    }
}

.msg-41 {
    .tlk-bubble {
        color: white;
        background-color: #9E9D24;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #9E9D24;
    }
}

.msg-42 {
    .tlk-bubble {
        color: white;
        background-color: #CDDC39;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #CDDC39;
    }
}

.msg-43 {
    .tlk-bubble {
        background-color: #E6EE9C;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #E6EE9C;
    }
}

.msg-44 {
    .tlk-bubble {
        color: white;
        background-color: #F9A825;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #F9A825;
    }
}

.msg-45 {
    .tlk-bubble {
        background-color: yellow;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: yellow;
    }
}

.msg-46 {
    .tlk-bubble {
        background-color: #FFEB3B;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #FFEB3B;
    }
}

.msg-47 {
    .tlk-bubble {
        background-color: #FFF59D;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #FFF59D;
    }
}

.msg-48 {
    .tlk-bubble {
        color: white;
        background-color: #FF6F00;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #FF6F00;
    }
}

.msg-49 {
    .tlk-bubble {
        color: white;
        background-color: #FFC107;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #FFC107;
    }
}

.msg-50 {
    .tlk-bubble {
        background-color: #FFE082;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #FFE082;
    }
}

.msg-51 {
    .tlk-bubble {
        color: white;
        background-color: red;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: red;
    }
}

.msg-52 {
    .tlk-bubble {
        color: white;
        background-color: #EB0309;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #EB0309;
    }
}

.msg-53 {
    .tlk-bubble {
        color: white;
        background-color: #FF5722;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #FF5722;
    }
}

.msg-54 {
    .tlk-bubble {
        color: white;
        background-color: #FFAB91;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #FFAB91;
    }
}

.msg-55 {
    .tlk-bubble {
        background-color: #FFCCBC;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #FFCCBC;
    }
}

.msg-56 {
    .tlk-bubble {
        color: white;
        background-color: #4E342E;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #4E342E;
    }
}

.msg-57 {
    .tlk-bubble {
        color: white;
        background-color: #795548;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #795548;
    }
}

.msg-58 {
    .tlk-bubble {
        color: white;
        background-color: #BCAAA4;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #BCAAA4;
    }
}

.msg-59 {
    .tlk-bubble {
        background-color: #D7CCC8;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #D7CCC8;
    }
}

.msg-60 {
    .tlk-bubble {
        color: white;
        background-color: #37474F;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #37474F;
    }
}

.msg-61 {
    .tlk-bubble {
        color: white;
        background-color: #607D8B;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #607D8B;
    }
}

.msg-62 {
    .tlk-bubble {
        color: white;
        background-color: #B0BEC5;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #B0BEC5;
    }
}

.msg-63 {
    .tlk-bubble {
        background-color: #CFD8DC;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #CFD8DC;
    }
}

.msg-64 {
    .tlk-bubble {
        color: white;
        background-color: black;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: black;
    }
}

.msg-65 {
    .tlk-bubble {
        color: white;
        background-color: #212121;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #212121;
    }
}

.msg-66 {
    .tlk-bubble {
        color: white;
        background-color: #424242;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #424242;
    }
}

.msg-67 {
    .tlk-bubble {
        color: white;
        background-color: #616161;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #616161;
    }
}

.msg-68 {
    .tlk-bubble {
        color: white;
        background-color: #9E9E9E;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #9E9E9E;
    }
}

.msg-69 {
    .tlk-bubble {
        background-color: #F5F5F5;
    }
    .spkr-info, .spkr-details-container-index {
        border-color: #F5F5F5;
    }
}

.msg-70 {
    .tlk-bubble {
        background-color: white;
    }
    .spkr-info {
      border-color: white;
    }
    .spkr-details-container-index {
      border-color: #EBECED;
    }
}
