// Place all the styles related to the msgs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.spkr-color-edit {
  margin-top: 4px;
  .spkr-color-example {
    display: inline-block !important;
  }
  .spkr-color-option {
    display: inline-block !important;
    margin: 0 8px 0 0;
  }
  .tlk-bubble {
    padding: 8px 10px 8px 10px;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    &:hover{
      text-decoration-style: none;
    }
  }
  input[type="radio"]:checked+label {
    .tlk-bubble {
      // -webkit-box-shadow: 0px 0px 8px 0px rgba(255,255,255,1);
      // -moz-box-shadow: 0px 0px 8px 0px rgba(255,255,255,1);
      // box-shadow: 0px 0px 8px 0px rgba(255,255,255,1);
      outline: -webkit-focus-ring-color auto 5px;
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
      outline-width: 5px;
    }
  }
}

@media (max-width: 768px) {
  .spkr-color-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    padding-top: 14px;
    border-right: 8px solid blue;
  }
}

.msg-p-red {
  .tlk-bubble {
    color: white;
    background-color: $msg-p-red;
  }
  .spkr-info, .spkr-details-container-index {
    border-color: $msg-p-red;
  }
}

.msg-p-blue {
  .tlk-bubble {
    background-color: $msg-p-blue;
  }
  .spkr-info, .spkr-details-container-index {
    border-color: $msg-p-blue;
  }
}


.msg-p-orange {
  .tlk-bubble {
    color: white;
    background-color: $msg-p-orange;
  }
  .spkr-info, .spkr-details-container-index {
    border-color: $msg-p-orange;
  }
}

.msg-p-green {
  .tlk-bubble {
    color: white;
    background-color: $msg-p-green;
  }
  .spkr-info, .spkr-details-container-index {
    border-color: $msg-p-green;
  }
}


.msg-green {
  .tlk-bubble {
    color: white;
    background-color: $msg-green;
  }
  .spkr-info, .spkr-details-container-index {
    border-color: $msg-green;
  }
}
.msg-purple {
  .tlk-bubble {
    color: white;
    background-color: $msg-purple;
  }
  .spkr-info, .spkr-details-container-index {
    border-color: $msg-purple;
  }
}
.msg-blue {
  .tlk-bubble {
    color: white;
    background-color: $msg-blue;
  }
  .spkr-info, .spkr-details-container-index {
    border-color: $msg-blue;
  }
}
.msg-red {
  .tlk-bubble {
    color: white;
    background-color: $msg-red;
  }
  .spkr-info, .spkr-details-container-index {
    border-color: $msg-red;
  }
}
.msg-orange {
  .tlk-bubble {
    color: white;
    background-color: $msg-orange;
  }
  .spkr-info, .spkr-details-container-index {
    border-color: $msg-orange;
  }
}
.msg-black {
  .tlk-bubble {
    color: white;
    background-color: $msg-black;
  }
  .spkr-info, .spkr-details-container-index {
    border-color: $msg-black;
  }
}
.msg-pink {
  .tlk-bubble {
    background-color: $msg-pink;
  }
  .spkr-info, .spkr-details-container-index {
    border-color: $msg-pink;
  }
}
.msg-yellow {
  .tlk-bubble {
    background-color: $msg-yellow;
  }
  .spkr-info, .spkr-details-container-index {
    border-color: $msg-yellow;
  }
}
.msg-white {
  .tlk-bubble {
    background-color: $msg-white;
  }
  .spkr-info {
    border-color: $msg-white;
  }
  .spkr-details-container-index {
      border-color: $light-grey;
    }
}



.tlk-bubble {
  a {
    color: inherit;
    text-decoration: underline;
    opacity: 0.9;
    &:hover {
      color: inherit;
      opacity: 1;
    }
  }
}

