


body {
  // font-family: $font-family;
  font-family: 'Roboto', sans-serif;
  background-color: $light-grey;
  color: $core-font-color;
  font-size: 100%;
  font-size: 17px;
}



h1, h2, h3, h4, h5 {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
}

h3 {
  font-size: 28px;
}

.big-white-split {
  height: $desk-line-width;
  background-color: $grey;
  margin: 48px 0 32px 0;
}

.big-dark-split {
  height: $desk-line-width;
  background-color: $sharp-red;
  margin: 48px 0 48px 0;
}

.full-width-dark-split {
  height: $desk-line-width;
  background-color: $sharp-red;
  margin-left: 16px;
  margin-right: 16px;
}

.full-width-spkr-only {
  margin-bottom: 16px;
}

.btn {
  border: none !important;
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 32px;
  }
  h3 {
    font-size: 20px;
  }
  .big-white-split {
    height: $mob-line-width;
    margin: 32px 0 16px 0;
  }
  .big-red-split {
    height: $mob-line-width;
    margin: 32px 0 32px 0;
  }
  .big-dark-split {
    height: $mob-line-width;
  }
  .full-width-dark-split {
    height: $mob-line-width;
    margin-left: 8px;
    margin-right: 8px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

.tlk-container {
  max-width: 732px;
  padding: 0 16px;
  margin: 0 auto;
  .tlk-note {
    margin: 16px 0;
  }
}

@media (max-width: 768px) {
  .tlk-container {
    padding: 0 8px;
  }
}

a {
  color: $green;
  &:hover {
    // text-decoration: none;
    color: $green;
  }
}

.fake-link {
  cursor: pointer;
  color: $green;
  &:hover {
    text-decoration: underline;
    // color: $green;
  }
}

.alert {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.spkr-user-edit-form {
  .trix-button-group--block-tools,
  .trix-button-group--file-tools,
  .trix-button-group-spacer,
  .trix-button-group--history-tools,
  .trix-button--icon-strike {
    display: none;
  }
}

.spkr-msg-form {
  .trix-button-group--history-tools {
    display: none;
  }
}

.tlk-note {
  // border-left: 12px solid blue;
  background-color: $grey;
  margin: 16px;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  max-width: 500px;
  // -webkit-box-shadow: 1px 1px 5px 0px rgba(85,85,85,0.6);
  // -moz-box-shadow: 1px 1px 5px 0px rgba(85,85,85,0.6);
  // box-shadow: 1px 1px 5px 0px rgba(85,85,85,0.6);
  // border-bottom: 8px solid $bright-blue;
  p {
    margin-bottom: 8px;
  }
  p:last-of-type {
    margin-bottom: 0;
    border-bottom: none;
  }
  .to-copy-section {
    display: block;
    padding: 4px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    span {
      display:inline-block;
      word-wrap : break-word;
    }
    .copy-with-click {
      margin-right: 2px;
      cursor: pointer;
    }
  }
  .splitter {
    // border-bottom: 1px solid $bright-blue;
    border-bottom: 4px solid white;
  }
  .tlk-note-btn {
    display: inline-block;
    border: none;
    background: $bright-blue;
    color: white;
    border-radius: 4px;
    padding: 4px 8px;
    &:hover {
      cursor: pointer;
      background-color: $red-btn-hover;
      text-decoration: none;
    }
  }
}

@media (max-width: 768px) {
  .tlk-note {
    margin: 8px;
  }
}


.big-white-split {
  height: 12px;
  background-color: $grey;
  margin: 32px 0;
}

.btn-secondary {
  background-color: $grey;
  color: $core-font-color;
  &:hover {
    background-color: $grey;
    color: $core-font-color;
  }
}


.p-header-followed-by-tlk-note {
  margin-bottom: 0;
}

// .trix-content {
//   line-height: 32px;
//   font-size: 20px;
// }
// @media (max-width: 768px) {
//   .trix-content {
//     line-height: 28px;
//     font-size: 18px;
//   }
// }
