// Place all the styles related to the spkrs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.spkr-image {
  background: #343a40;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.spkr-bio-image {
  height: 40px;
  width: 40px;
  display: inline-block;
  flex-shrink: 0;
}

.spkr-image-and-name {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  .spkr-info {
    h3 {
      display: inline-block;
      margin: 0;
      flex-shrink: 0;
    }
  }
}

// .spkr-biog-holder-tlk-right {
//   text-align: right;
// }


.spkr-info {
  margin-bottom: 32px;
}

.spkr-biog {
  font-size: 19px;
}

.spkr-info-right {
  text-align: right;
  border-right: 12px solid white;
  padding-right: 12px;
  .spkr-image-and-name {
    flex-direction: row-reverse;
  }
  .spkr-bio-image {
    margin-left: 8px;
  }
  .spkr-biog {
    text-align: right;
    padding-left: 24px;
    // border-left: 12px solid white;
    div {
      text-align: left;
      display: inline-block;
    }
  }
}

.spkr-info-left {
  border-left: 12px solid white;
  padding-left: 12px;
  .spkr-bio-image {
    margin-right: 8px;
  }
  .spkr-biog {
    padding-right: 24px;
    // border-right: 12px solid white;
  }
}

.spkr-link {

}

@media (max-width: 768px) {
  .spkr-biog {
    font-size: 18px;
  }
  .spkr-info-right {
    border-right: 8px solid white;
    padding-right: 8px;
    .spkr-biog {
      padding-left: 16px;
      // border-left: 8px solid white;
    }
  }
  .spkr-info-left {
    border-left: 8px solid white;
    padding-left: 8px;
    .spkr-biog {
      padding-right: 16px;
      // border-right: 8px solid white;
    }
  }
  .spkr-bio-image {
    height: 32px;
    width: 32px;
  }
  .spkr-image-and-name {
    margin-bottom: 8px;
    h3 {
      font-size: 24px;
    }
  }
}

.spkr-edit {
  background-color: white;
  // border: 2px dashed #343a40;
  border-radius: 4px;
  display: inline-block;
  padding: 4px;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 16px 0;
  color: #020202;
  border-width: 2px;
  border-style: inset;
  border-color: #EA0000;
}

@media (max-width: 768px) {
  .spkr-edit {
    font-size: 20px;
    width: 223px;
  }
  .spkr-image-upload-btn-and-text {
      margin: 0 0 0 8px !important;
  }
}


.spkr-image-upload-div {
  display: inline-flex;
  .spkr-image-upload-btn-and-text {
    margin: 0 0 0 8px;
  }
}
.spkr-user-edit-form, .spkr-msg-form {
  // margin-top: 16px;
  .trix-content, input[type=text], input[type=password], input[type=email] {
    background-color: white;
    margin-bottom: 16px;
    border-radius: 4px;
    color: #020202;
    border-width: 2px;
    border-style: inset;
    border-color: #EA0000;
  }
  .title-input {
    width: 100%;
    padding: 8px;
    font-size: 24px;
    font-weight: bold;
  }
  trix-toolbar .trix-button:not(:disabled) {
      color: #2c2c57;
      cursor: pointer;
      background: white;
      border-radius: 4px;
      margin: 0 2px 0 0;
      border: none;
  }
  trix-toolbar .trix-button-group {
      border: none;
  }
}

// .spkr-user-edit-form:first-of-type {
//   .spkr-edit-other-heading-link {
//     margin-top: 24px !important;
//   }
// }

.spkr-edit-other-heading-link {
  margin-top: 24px;
  margin-bottom: 8px;
  display: inline-block;
  padding-left: 8px;
}

.other-spkr-edit-btn-div {
  margin-bottom: 0px !important;
}

.spkr-only-edit-btn {
  margin-top: 0px !important;
}


.spkr-suggested-edit-header {
  font-size: 28px;
  padding: 24px 0 16px 0;
}

@media (max-width: 768px) {
  .spkr-suggested-edit-header {
    font-size: 20px;
  }
}

.spkr-changes-rejected-link {
  color: #EA0000;
}

.spkr-edit-box {
  background-color: #F5F5F5;
  padding: 8px;
  border-radius: 4px;
  .tlk-bubble {
    width: 40px;
    height: 40px;
    text-align: center;
  }
}
