// Place all the styles related to the spkrs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.spkr-image {
  background: $bright-blue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.spkr-bio-image {
  height: 40px;
  width: 40px;
  display: inline-block;
  flex-shrink: 0;
}

.spkr-image-and-name {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  .spkr-info {
    h3 {
      display: inline-block;
      margin: 0;
      flex-shrink: 0;
    }
  }
}

.spkr-info {
  margin-bottom: 32px;
}

.spkr-info-right {
  text-align: right;
  .spkr-image-and-name {
    flex-direction: row-reverse;
  }
  .spkr-bio-image {
    margin-left: 8px;
  }
  .spkr-biog {
    text-align: left;
    padding-left: 32px;
    border-left: $desk-line-width solid $grey;
  }
}

.spkr-info-left {
  .spkr-bio-image {
    margin-right: 8px;
  }
  .spkr-biog {
    padding-right: 32px;
    border-right: $desk-line-width solid $grey;
  }
}

.spkr-link {

}

@media (max-width: 768px) {
  .spkr-info-right {
    .spkr-biog {
      padding-left: 16px;
      border-left: $mob-line-width solid $grey;
    }
  }
  .spkr-info-left {
    .spkr-biog {
      padding-right: 16px;
      border-right: $mob-line-width solid $grey;
    }
  }
  .spkr-bio-image {
    height: 32px;
    width: 32px;
  }
  .spkr-image-and-name {
    h3 {
      font-size: 20px;
    }
  }
}
