// Place all the styles related to the Tlks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#tlk-section-edit {
  // border: 1px solid red;
}

// #tlk-section-read {
//   border: 1px solid blue;
// }

// invite
// #tlk-invited-note-login {
//   margin-bottom: 0;
// }


.tlk-section-off {
  display: none;
}

.tlk-section-on {
  display: block;
}

.tlk-btn-unsaved {
  background: $green !important;
  color: white !important;
  &:hover {
    background: $green-hover !important;
  }
}

.tlk-p-unsaved {
  display: block;
}

.tlk-p-nochange {
  display: none;
}

.tlk-input-invite-fail {
  border: 1px solid red;
}

.tlk-follow-note {
  max-height: 41px;
}

.tlk-image {
  min-height: 240px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  // Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0000ff+0,c6f1d6+100 */
  background: #0000ff;
  background: -moz-linear-gradient(top,  #0000ff 0%, $grey 100%);
  background: -webkit-linear-gradient(top,  #0000ff 0%, $grey 100%);
  background: linear-gradient(to bottom,  #0000ff 0%, $grey 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000ff', endColorstr='#f0f0f0',GradientType=0 );
}


.tlk-title {
  color: white;
  display: block;
  width: 700px;
  margin: 0 auto;
  font-weight: $bold;
  padding: 56px 0;
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .tlk-image {
    min-height: 180px;
  }
  .tlk-title {
    padding: 40px 0;
  }
}



.tlk-draft {
  display: none;
}

.tlk-follow {
  margin-bottom: 8px;
  // font-size: 16px;
}

.tlk-follow-div {
  .btn {
    font-size: 19px;
    margin-bottom: 4px;
  }
}

.tlk-unfollow {
  margin-left: 4px;
}

@media (max-width: 768px) {
  .tlk-follow-div {
    .btn {
      font-size: 18px;
    }
  }
  .tlk-image {
    min-height: 180px;
    padding: 0 8px;
  }
  .tlk-title {
    padding: 40px 0;
  }
}

// Edit section

.tlk-image-edit {
  flex-direction: column;
  justify-content: center;
  .tlk-title-edit {
    outline: none;
    // background: transparent;
    // border: 2px dashed white;
    // color: white;
    display: block;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    font-weight: 700;
    padding: 0 0 0 8px;
    font-size: 48px;
    display: block;

    border-radius: 4px;
    border-width: 2px;
    border-style: inset;
    border-color: $bright-blue;
    color: $core-font-color;
  }
  label {
    display: block;
    width: 100%;
    max-width: 700px;
    color: white;
    margin: 0 auto -24px auto;
  }
}

@media (max-width: 768px) {
  .tlk-image {
    .tlk-title-edit {
      font-size: 32px;
    }
  }
}

.tlk-leave {
  margin: 16px 0 0 0;
  display: inline-block;
  padding-bottom: 8px;
  border-bottom: 4px solid blue;
}

.tlk-leave-links {
  a {
    margin: 16px 0 0 0;
    display: inline-block;
  }
}


.tlk-p-unsaved {
  margin-bottom: 0;
}

.edit-mode-on {
  background-color: $sharp-red !important;
  color: white;
  &:hover {
    background-color: $sharp-red-hover !important;
    color: white;
  }
}

.tlking-container {
  max-width: 872px;
  // background-color: yellow;
  margin: 0 auto;
}

.tlk-blob {

}

.tlk-blob-left {

}

.tlk-blob-spkr {
  display: flex;
  max-width: 732px;
  margin: 20px auto 6px auto;
  height: 24px;
}

.tlk-blob-name {
  margin: 4px 8px 4px -38px;
}

.tlk-blob-date {
  font-size: 10px;
  margin-top: 11px;
  color: $time-and-date-color;
}

.tlk-tlking-image {
  display: inline-block;
  position: relative;
  left: -64px;
  top: 30px;
  height: 54px;
  width: 54px;
}

.tlk-bubble {
  display: inline-block;
  background-color: $grey;
  padding: 11px 16px 10px 16px;
  border-radius: 26px;
  margin-bottom: 8px;
  font-size: 19px;
  max-width: 732px;
  word-wrap : break-word;
}

.msg-preview {
  .tlk-bubble {
    max-width: 680px;
  }
}

.tlk-blob-right {
  .tlk-blob-spkr {
    flex-direction: row-reverse;
  }
  .tlk-blob-msg {
    text-align: right;
    .tlk-bubble {
      text-align: left;
    }
  }
  .tlk-tlking-image {
    left: 64px;
  }
  .tlk-blob-name {
    margin: 4px -38px 4px 8px;
  }
}






.tlk-blob-msg {
  max-width: 732px;
  margin: 0 auto;
}
.tlk-start-msg {
  padding: 0;
}


@media (max-width: 768px) {
  .msg-preview {
    .tlk-bubble {
      max-width: calc(100% - 16px);
    }
  }
  .tlk-bubble {
    padding: 8px 12px 8px 12px;
    margin-bottom: 6px;
    border-radius: 20px;
    font-size: 18px;
    max-width: calc(100vw - 16px);
  }
  .tlk-start-msg {
    padding: 0 8px;
  }

}

@media (max-width: 872px) {
  .tlking-container {
    padding: 0 8px;
  }
  .tlk-blob-spkr {
    height: 32px;
  }
  .tlk-tlking-image {
    display: inline-block;
    height: 32px;
    width: 32px;
    position: static;
  }
  .tlk-blob-name {
    margin: 4px 8px;
  }
  .tlk-blob-date {
    margin-left: 0;
    margin-right: 0;
  }
  .tlk-blob-right {
    .tlk-blob-name {
      margin: 4px 8px;
    }
  }
}





.msg-preview {
  background-color: transparent !important;
  margin: 14px 0 16px 0;
  border: 2px dashed $core-font-color !important;
  padding: 8px 8px 0px 8px;
  p {
    margin: 0 0 8px 0;
  }
}

.tlk-draft-button {
  padding: none !important;
  border: none;
  background: transparent;
}

.spkr-info-right {
  text-align: right;
  .trix-content {
    display: inline-block;
    text-align: left;
  }
}

.msg-submit-btn {
  margin: 8px 0 24px 0;
}

.tlk-follow-link {
  margin-right: 8px;
}

.tlk-bottom-edit-btn {
  margin-top: 32px !important;
}
// index

.index-background {
  background-color: #EBECED;
}

.index-container {
  max-width: 1164px;
  padding: 0 16px;
  margin: 0 auto;
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
  a {
    color: inherit;
  }
  h4 {
    margin: 0;
    font-size: 24px;
  }
  .tlk-image-present {
    h4 {
      color: white;
      padding: 24px 16px 102px 16px;
    }
  }
  .tlk-image-not-present {
    h4 {
      color: blue;
      padding: 24px 16px 22px 16px;
    }
  }
}

.tlk-index-link:hover, .tlk-index-link:active  {
  h4 {
    text-decoration: underline;
  }
  p {
    color: $core-font-color;
    text-decoration: none;
    text-decoration-color: $core-font-color;
  }
  strong {
    text-decoration: none;
  }
  .tlk-card {
    background-color: #FBFCFD;
  }
  .tlk-image-index-color {
    background-color: #FBFCFD;
  }
  .tlk-card-block {
    background-color: #FBFCFD;
  }
}

@media (max-width: 768px) {
  .card-columns {
    a:hover {
      text-decoration: none;
    }
    a {
      text-decoration: none;
    }
  }
  .tlk-index-link:hover, .tlk-index-link:active {
    h4 {
      text-decoration: none;
    }
  }
}

.tlk-card {
  border-radius: 4px;
  border: none;
  margin-bottom: 20px !important;
  background-color: $grey;
  // border: 1px solid #e3e3e3;
  // border-top: 1px solid #fafafa;
  // border-left: 1px solid #fafafa;
  // border-bottom: 1px solid #f6f6f6;
  // border-right: 1px solid #f6f6f6;
  // border: 1px solid #dfdfdf;
  // &:hover {
  //   border-top: 1px solid #fdfdfd;
  //   border-left: 1px solid #fdfdfd;
  //   border-bottom: 1px solid #f9f9f9;
  //   border-right: 1px solid #f9f9f9;
  // }
}

.tlk-image-index {
  border-radius: 4px 4px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tlk-image-index-color {
  background: $grey;
  border-bottom: 1px solid #dbdbdb;
  // background: #A1ACB2; /* Old browsers */
  // background: -moz-linear-gradient(-45deg,  #A4A4AE 0%, #A4A4AE 49%, #EBECED 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(-45deg,  #A4A4AE 0%,#A4A4AE 49%,#EBECED 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(135deg,  #A4A4AE 0%,#A4A4AE 49%,#EBECED 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A4A4AE', endColorstr='#EBECED',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.tlk-card-title {

}

.tlk-card-block {
  padding: 16px 8px 0px 8px;
  background-color: white;
  border-radius: 0 0 4px 4px;
}

@media (max-width: 768px) {
  .card-columns {
    h4 {
      padding: 20px 20px 18px 20px;
      font-size: 24px;
    }
  }
  .index-container {
    padding: 8px;
  }
  .tlk-card-block {
    padding: 16px 8px 0px 8px;
  }
}

.tlk-card-block {
  p {
    padding: 0 8px;
    margin: 0;
    // font-size: 16px;
  }
}

.spkr-details-container-index {
  margin-bottom: 16px;
}

.spkr-img-name-container-index {
  display: flex;
  align-items: center;
  p {
    display: block;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 28px;
  }
  div {
    flex-shrink: 0;
  }
}

.spkr-image-index {
  height: 32px;
  width: 32px;
  background: $bright-blue;
  background-size: cover;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 768px) {
  .tlk-card-block {
    p {
      font-size: 18px;
    }
  }
  .spkr-img-name-container-index {
    p {
      font-size: 24px;
    }
  }
}

.spkr-biog-index {
  display: inline-block;
}

.spkr-index-right {
  // border-left: none !important;
  border-right: 8px solid #EBECED;
  padding-left: 16px;
  .spkr-img-name-container-index {
    flex-direction: row-reverse;
    p {
      margin-right: 8px;
    }
    .spkr-image-index {
      margin: 0 8px 0 0;
    }
  }
  .spkr-biog-holder-index {
   text-align: right;
   padding: 0 8px 0 0;
  }
  .spkr-biog-index {
    margin: 0 !important;
    padding: 0 !important;
    text-align: left;
  }
}



.spkr-index-left {
  border-left: 8px solid #EBECED;
  .spkr-img-name-container-index {
    p {
      margin-left: 8px;
    }
  }
  .spkr-image-index {
    margin: 0 0 0 8px;
  }
  .spkr-biog-index {
    margin: 0 8px 0 0;
  }
}

.index-border-btm-container {
  border-bottom: 40px solid white;
  max-width: 700px;
}

@media (max-width: 768px) {
  .index-border-btm-container {
    border-bottom: none;
    padding-bottom: 20px;
  }
}

.small-white-split {
  height: $desk-line-width;
  background-color: $grey;
  // margin: 32px 0 40px 0;
  margin: 0;
  max-width: 700px;
  // margin-bottom: 32px;

}

.small-blue-split {
  height: $desk-line-width;
  background-color: blue;
  // margin: 32px 0 40px 0;
  margin: 0;
  max-width: 700px;
}

.index-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  .tlk-blob-spkr {
    margin: 8px auto 6px auto;
  }
  h1 {
    font-size: 24px;
    padding-top: 40px;
    padding-bottom: 32px;
    font-weight: normal;
    flex-shrink: 0;
    display: inline-block;
  }
  #index-what-btn {
    // height: min-content;
    margin-top: 3px;
    i {
      color: #07d755;
      margin-right: 4px;
    }
  }
}

@media (max-width: 768px) {
  .index-header-container {
    display: block;
    h1 {
      display: block !important;
      padding-bottom: 12px !important;
    }
  }
  #index-what-btn {
    margin-top: 0 !important;
    margin-bottom: 16px;
    display: inline-block !important;
  }
}


.tlk-logo-span {
  font-weight: bold;
  font-size: 28px;
}

.index-msg {
  .tlk-bubble {
    padding: 0;
    border-radius: 0;
    font-size: 24px;
    margin-top: 36px;
    margin-bottom: 32px;
    color: white;
    background: transparent;
  }
}


.index-background-color-big {
  background: #0000ff;
  background: -moz-linear-gradient(top,  #0000ff 0%, white 100%);
  background: -webkit-linear-gradient(top,  #0000ff 0%, white 100%);
  background: linear-gradient(to bottom,  #0000ff 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000ff', endColorstr='white',GradientType=0 );
}

.index-background-color-small {
  background: #0000ff;
  background: -moz-linear-gradient(top,  #0000ff 0%, #8686FF 100%);
  background: -webkit-linear-gradient(top,  #0000ff 0%, #8686FF 100%);
  background: linear-gradient(to bottom,  #0000ff 0%, #8686FF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000ff', endColorstr='#8686FF',GradientType=0 );
}

#index-top-blob-spkr {
  margin-top: -14px;
}


.index-tlking-container {
  padding-left: 64px;
  max-width: 636px;
  // margin-top: 36px;
  // padding-bottom: 32px;
  margin-bottom: 40px;
  .tlk-blob-spkr {
    height: 0;
    margin: 20px auto 14px auto;
  }
  .tlk-tlking-image {
    top: 4px;
    height: 40px;
    width: 40px;
  }
}

.top-index-container {
  // margin-bottom: 40px;
  margin-top: 0;
}



@media (min-width: 768px){
  .index-tlking-container {
    .tlk-tlking-image {
      display: inline-block;
      position: relative;
      top: 11px;
      height: 54px;
      width: 54px;
    }
    .tlk-blob-left {

    }
    .tlk-blob-right {

    }
  }
}

@media (max-width: 768px) {
  .top-index-container {
    // margin-bottom: 12px;
  }
  .small-white-split {
    height: $mob-line-width;
    margin-bottom: 8px;
    margin-top: 0;
  }
  .index-tlking-container {
    margin-top: 26px;
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .tlk-blob-spkr {
    height: 32px !important;
    margin-top: 16px !important;
  }
  .index-tlking-container {
    max-width: 700px;
  }
}

// .index-got-it {
//   margin-bottom: 40px;
// }

#index-what-btn {

}



.index-hide-intro {
  display: none;
}

.index-show-intro {
  display: block;
}

// .tlk-explain-div-small {
//   padding-bottom: 40px;
// }

#last-index-tlk-bubble {
  margin-bottom: 0;
}
.got-it-mode-on {
  background-color: $msg-green;
  color: white;
  &:hover { color: white; }
}

// create

// .create-number-div {
//   display: inline-block;
// }

.create-number {
  display: inline-block;
  padding: 8px 15px;
  text-align: center;
  background-color: $msg-green;
  color: white;
  border-radius: 24px;
  margin-right: 8px;
  vertical-align: center;
}

@media (max-width: 768px) {
  .create-number {
    display: inline;
    padding: 0;
    text-align: left;
    color: $msg-green;
    border-radius: 0;
    background-color: transparent;
    margin-right: 6px;
  }
}



.create-background-color-red {
  background: #FE0002;
  background: linear-gradient(to bottom, #FE0002 0%, #D50000 100%);
  background: -moz-linear-gradient(top,  #FE0002 0%, #D50000 100%);
  background: -webkit-linear-gradient(top,  #FE0002 0%, #D50000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FE0002', endColorstr='#D50000',GradientType=0 );
}

.f-blue {
  color: blue;
}

.f-red {
  color: #FE0002;
}

.create-container {
  max-width: 700px;
  border-bottom: 20px solid blue;
  padding-bottom: 40px;
  // border-top: 40px solid white;
  h1 {
    font-size: 24px;
    padding-top: 40px;
    padding-bottom: 32px;
    color: white;
    font-weight: normal;
    flex-shrink: 0;
    display: inline-block;
  }
}


@media (max-width: 768px) {
  .create-container {
    border-bottom: none;
    h1 {
      display: block !important;
      // padding-bottom: 12px !important;
    }
  }
}

.index-background-color-medium {
  background: #0000ff;
  background: -moz-linear-gradient(top,  #0000ff 0%, white 100%);
  background: -webkit-linear-gradient(top,  #0000ff 0%, white 100%);
  background: linear-gradient(to bottom,  #0000ff 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000ff', endColorstr='white',GradientType=0 );
}

.create-index-container {
  max-width: 1164px;
  padding: 0 16px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .create-index-container {
   padding: 0 8px;
  }
  .tlk-title-edit {
    font-size: 32px !important;
  }
}

.create-header-container {
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  .tlk-blob-spkr {
    margin: 8px auto 6px auto;
  }
  h1 {
    font-size: 24px;
    padding-top: 40px;
    padding-bottom: 40px;
    font-weight: normal;
  }
}

@media (max-width: 768px) {
  .create-header-container {
    display: block;
    h1 {
      display: block !important;
    }
  }
}

#create-spkr-user-edit-form {
  margin-top: 32px;
  border-top: 12px solid $grey;
  border-bottom: 12px solid $grey;
  padding: 14px 0 16px 0;
}

@media (max-width: 768px) {
  #create-spkr-user-edit-form {
    border-top: 8px solid $grey;
    border-bottom: 8px solid $grey;
  }
}

#create-border-top-20-blue {
  border-top: 20px solid blue;
  // background-color: white;
  // padding: 0 8px 8px 8px;
  trix-toolbar .trix-button:not(:disabled) {
    background: white;
  }
}

@media (max-width: 768px) {
  #create-border-top-20-blue {
    border-top: none;
    background-color: transparent;
    padding: 0;
    trix-toolbar .trix-button:not(:disabled) {
      background: white;
    }
  }
}

.create-user-update-btn {
  // margin-top: 24px !important;
  color: white !important;
  background-color: blue !important;
}

@media (max-width: 768px) {
  .create-user-update-btn {
    margin-top: 16px !important;
  }
}

.create-user-padding-left {
  padding-left: 8px;
}

// .creat-user-padding-bottom {
//   padding-bottom: 8px;
// }

.twm_user {
  border-radius: 4px;
  .spkr-image-index {
    height: 60px;
    width: 60px;
    background: $bright-blue;
    background-size: cover;
    border-radius: 40px;
  }
  .trix-content {
    margin-top: 8px;
    font-size: 19px;
  }
}


@media (max-width: 768px) {
  .twm_user {
    .trix-content {
      margin-top: 8px;
      font-size: 17px;
    }
  }
}

#create-card-columns {
  a {
    color: blue;
  }
  .btn {
    color: white;
    display: inline-block;
  }
  .spkr-index-left {
    border: none !important;
    .spkr-image-index {
      margin: 0;
    }
  }
  .spkr-details-container-index {
      margin-bottom: 8px;
  }
  .tlk-card-block {
    padding: 8px 8px 8px 8px;
  }
  .create-user-padding-left {
      padding-left: 2px;
  }
}

.btn-grey {
  background-color: #EBECED;
  color: blue !important;
  &:hover {
    background-color: #D5D5D5;
  }
}

.create-twm-user-container {
  padding-top: 40px;
}

.create-remove-details {
  margin: 16px 0 0 0;
}

// Invite

.tlk-invite-code {
  // width: 100%;
  width: 252px;
  padding: 8px 0 8px 8px;

}

@media (max-width: 425px) {
  .tlk-invite-code {
    width: 100%;
  }
}

.tlk-invite-btn {
  color: white !important;
  background-color: blue !important;
}
