// Place all the styles related to the Tlks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#tlk-section-edit {
  border: 1px solid red;
}

#tlk-section-read {
  border: 1px solid blue;
}

.tlk-section-off {
  display: none;
}

.tlk-section-on {
  display: block;
}

.tlk-update-needs-save {
  background: pink;
}
