// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-container {
  max-width: 700px;
  padding: 56px 0;
}

.user-image-bg {
  min-height: 240px;
  padding: 0 16px;
  margin-bottom: 32px;
  // Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2c2c57+0,c6f1d6+100 */
  background: #2c2c57;
  // background: -moz-linear-gradient(top,  #2c2c57 0%, white 100%);
  // background: -webkit-linear-gradient(top,  #2c2c57 0%, white 100%);
  // background: linear-gradient(to bottom,  #2c2c57 0%, white 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2c57', endColorstr='#f0f0f0',GradientType=0 );
}


.user-title {
  color: white;
  margin: 0 auto;
  font-weight: 700;
}


.user-image {
  background: #150d2b;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.user-biog {
  font-size: 19px;
}

@media (max-width: 768px) {
  .user-biog {
    font-size: 18px;
  }
}

.user-border-bottom {
  border-bottom: 16px solid white;
}

@media (max-width: 768px) {
  .user-border-bottom {
    border-bottom: none;
  }
}

.user-follow {
  margin-right: 8px;
}

.user-bio-tlk-note {
  font-size: 19px !important;
  max-width: 700px !important;
  margin: 8px 0 0 0 !important;
}

.user-follow-div {
  margin: 20px 0;
}

@media (max-width: 768px) {
  .user-bio-tlk-note {
    font-size: 18px !important;
  }
  .user-follow-div {
    margin-top: 28px;
  }
}

.log-out-btn {
  margin: 0 16px 16px 16px;
}

@media (max-width: 768px) {
  .log-out-btn {
    margin: 0 8px 8px 8px;
  }
}



.user-biog {
  margin: 24px 0;
}

.user-tlks-index-container {
  max-width: 1164px;
  padding: 0 16px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .user-tlks-index-container {
    padding: 0 8px;
  }
}

.username-edit {
  outline: none;
  display: block;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  font-weight: 700;
  padding: 0 0 0 8px;
  font-size: 48px;
  display: block;

  border-radius: 4px;
  border-width: 2px;
  border-style: inset;
  border-color: blue;
  color: #020202;
}

.user-bottom-edit-btn {
  margin-top: 40px !important;
}


@media (max-width: 768px) {
  .username-edit {
    font-size: 32px;
  }
  .user-bottom-edit-btn {
    margin-top: 24px !important;
  }
}

.user-big-dark-split {
  margin-bottom: 24px !important;
}

.user-p-style {
  p {
    margin-bottom: 0.5rem;
  }
}

// devise-styles

.flex-mob-block {
  display: flex;
}

.devise-styles {
  // background-color: #FBF2D5;
  // color: #856404;
  // color: white;
  padding: 16px;
  // background-color: #00CD4B;
  // background: #00CD4B;
  // background: -moz-linear-gradient(top,  white 0%, #00CD4B 100%);
  // background: -webkit-linear-gradient(top,  white 0%, #00CD4B 100%);
  // background: linear-gradient(to bottom,  white 0%, #00CD4B 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='#00CD4B',GradientType=0 );
  // display: flex;
  // #9DFCC0\#89E8AC
  h2 {
    font-size: 17px;
    margin-bottom: 8px;
    color: #020202;
  }
  label {
    margin-bottom: 4px;
    // color: #020202;
  }
  input[type=text], input[type=password], input[type=email] {
    // color: #020202;
    background-color: white;
    margin-bottom: 8px;
    border-radius: 4px;
    color: #020202;
    border-width: 2px;
    border-style: inset;
    // border-color: #2c2c57;
    border-color: blue;
    padding: 6px 0 6px 6px;
    width: 266px;
  }
  p {
    margin-bottom: 4px;
  }
  .signup-div {
    padding-left: 16px;
    margin-left: 16px;
    border-left: 4px solid white;
  }
  input[type=submit] {
    border: none !important;
    // box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.4);
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
    padding: 9px 16px 10px 16px;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background: #2c2c57 !important;
    color: white !important;
    margin-top: 4px;
    &:hover {
      background: #1F1F4A !important;
    }
  }
  a {
    color: blue;
    display: inline-block;
    margin-top: 12px;
    &:hover {
      color: blue;
    }
  }
}

@media (max-width: 768px) {
  .devise-styles {
    padding: 8px 16px;
    .signup-div {
      padding-left: 8px;
      margin-left: 8px;
      border-left: 4px solid white;
    }
    input[type=submit] {
      font-size: 16px;
    }
    input[type=text], input[type=password], input[type=email] {
      padding: 2px 0 2px 4px;
    }
  }
}

@media (max-width: 588px) {
  .flex-mob-block {
    display: block;
  }
  .devise-styles {
    padding: 8px 16px 24px 16px;
    .signup-div {
      padding-top: 8px;
      margin-top: 8px;
      border-top: 4px solid white;
      padding-left: 0px;
      margin-left: 0px;
      border-left: none;
    }
    h2 {
      padding-top: 8px !important;
    }
    input[type=text], input[type=password], input[type=email] {
      width: 100% !important;
      font-size: 24px;
      // padding: 8px 0 8px 8px !important;
    }
    input[type=submit] {
      padding: 10px 40px 11px 40px !important;
      width: 100%;
    }
  }
}

#error_explanation {
  h2 {
    font-size: 17px;
    color: #EA0000;
    font-weight: normal;
  }
  li {
    font-size: 17px;
    font-weight: normal;
    color: #020202;
  }
}

.twitter-handle {
  color: #85898C;
  // color: blue;
  // opacity: 0.9;
  &:hover {
    color: #00acee;
    // color: blue;
    opacity: 1;
    text-decoration: none;
  }
}

.th-user {
 // 48/32
 color: white !important;
 &:hover {
  color: #00acee !important;
  // text-decoration: underline;
 }
}
