$font-family: 'Roboto', sans-serif;
$light-grey: #e9e9e9;
$core-font-color: #020202;
$green: blue;
$dark-blue: #091346;
// $bright-blue: #ff8080;
$bright-blue: #EE5555;
$pink: #c6f1d6;
$link-hover-opacity: 0.8;
// $pink: #ffeecc;
$pink-btn-hover: #B9E4C9;
$red-btn-hover: #DA4141;
$bold: 700;
$almost-white: #f8f9fa;
$grey: #f0f0f0;
// $grey: #BDBCBE;
$mob-line-width: 8px;
$desk-line-width: 12px;
$dark-green: #B2DDC2;
