const input = document.querySelector('#tlk_key');
input.classList.add('tlk-input-invite-fail');
const form = document.querySelector('form');
form.insertAdjacentHTML('beforeend', '<p>Incorrect code :(</p>')
