<h1>hello!</h1>

<div id="tlk_title">
  <%= simple_form_for(@tlk, remote: true) do |f| %>
    <%= f.input :title %>
    <%= f.button :submit %>
  <% end %>
</div>




<!-- 1. invite another user with an email address -->
<!-- 2. invite a user who you are 'friends' with already -->
<!-- 3. invite a current user who is not your friend and make friend request -->

